@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">Error.</h1>
    <h2 class="error">An error occurred while processing your request.</h2>
</hgroup>



<!DOCTYPE HTML>
<html>

<head>
  <title>simplestyle_4</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="simplestyle_4/style/style.css" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="simplestyle_4/index.html">Job<span class="logo_colour">Store</span></a></h1>
          <h2>A Plateform to Build Career</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="selected"><a href="simplestyle_4/index.html">Home</a></li>
          <li><a href="simplestyle_4/examples.html">Post Job</a></li>
          <li><a href="simplestyle_4/page.html">Hire Employee</a></li>
          <li><a href="simplestyle_4/another_page.html">Build Career</a></li>
          <li><a href="simplestyle_4/contact.html">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div id="content_header"></div>
    


      <!--Start of content-->




      <!--Start of content-->

    <div id="content_footer"></div>
    <div id="footer">
      <p><a href="simplestyle_4/index.html">Home</a> | <a href="simplestyle_4/examples.html">Post Job</a> | <a href="simplestyle_4/page.html">Hire Employee</a> | <a href="simplestyle_4/another_page.html">Build Career</a> | <a href="simplestyle_4/contact.html">Contact Us</a></p>
      <p>Copyright &copy; Virtual Technologies | <a href="http://validator.w3.org/check?uri=referer">VT's</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer"></a> | <a href="http://www.html5webtemplates.co.uk">design by Virtual Tecnologies</a></p>
    </div>
  </div>
</body>
</html>
