 <!DOCTYPE HTML>
<html>

<head>
  <title>JobStore.com</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
      
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="../../Home/Index">Job<span class="logo_colour">Store</span></a></h1>
          <h2>A Plateform to Build Career</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="selected"><a href="../../Home/Index">Home</a></li>
          <li><a href="../../Jobs/Create">Post Job</a></li>
          <li><a href="../../UserCV/HireEmployee">Hire Employee</a></li>
          <li><a href="../../AccountHandler/Login">Build Career</a></li>
          <li><a href="../../Home/Contact">Contact Us</a></li>
            <li><a href="../../AccountHandler/Login">Log in</a></li>
            
        </ul>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">
      <div id="sidebar_container">
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <!-- insert your sidebar items here -->
            <h3>Latest News</h3>
            <h4>New Website Launched</h4>
            <h5>July 1st, 2014</h5>
            <p>2014 sees the redesign of our website. Take a look around and let us know what you think.<br /><a href="/Home/Feedback">Feedback</a></p>
          </div>
          <div class="sidebar_base"></div>
        </div>
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <h3>Quick Links</h3>
            <ul>
              
              <li><a href="../../Jobs/Create">Post Job</a></li>
                <li><a href="../../UserCV/HireEmployee">Hire Employee</a></li>
              <li><a href="../../AccountHandler/Login">Build Career</a></li>
              <li><a href="../../Home/Contact">Contact Us</a></li>
            </ul>
          </div>
          <div class="sidebar_base"></div>
        </div>
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <h3>Search from Google</h3>
            <form method="post" action="https://www.google.com.pk/search#q=search_field" id="search_form">
              <p>
                <input class="search" type="text" name="search_field" placeholder="Enter keywords....." />
                <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="../../Images/MyImages/search.png" alt="Search" title="Search" />
              </p>
            </form>
          </div>
          <div class="sidebar_base"></div>
        </div>
      </div>
      <div id="content">
        <!-- insert the page content here -->
		

        
            @RenderSection("featured", required: false)
            @RenderBody()
        
        	
            
        
        <!-- End f content here-->
      </div>
    </div>
     
           
      <footer>
    <div id="content_footer"></div>
      
    <div id="footer">
      <p><a href="../../Home/Index">Home</a> | <a href="../../Jobs/Create">Post Job</a> | <a href="../../UserCV/HireEmployee">Hire Employee</a> | <a href="../../AccountHandler/Login">Build Career</a> | <a href="../../Home/Contact">Contact Us</a></p>
      <p>Copyright &copy; Virtual Technologies | <a href="http://validator.w3.org/check?uri=referer">VT's</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer"></a> | <a href="http://www.html5webtemplates.co.uk">design by Virtual Tecnologies</a></p>
    </div>
          
     </footer>
        
  </div>
     @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)  
</body>
</html>
