@{
    ViewBag.Title = "CV_Detail";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>CV Detail</h2>

<table>
    <tr>
        <td>
            <label >Create CV</label>
        </td>
        <td>
            <button value="Create CV" spellcheck="false" onclick="UserCV/Create"> <img src="../Images/MyImages/button.jpg" /> </button>
           
        </td>
    </tr>
    <tr>
        <td>
            <label >Update CV</label>|
        </td>
        <td>
            <button value="Create CV" spellcheck="false" onclick="UserCV/Edit"> <img src="../Images/MyImages/button.jpg" /> </button>
        </td>
    </tr>
    <tr>
        <td>
            <label >Details</label>
        </td>
        <td>
            <button value="Create CV" spellcheck="false" onclick="UserCV/Details"> <img src="../Images/MyImages/button.jpg" /> </button>
        </td>
    </tr>
    <tr>
        <td>
            <label >Delete CV</label>

        </td>
        <td>
            <form name ="delete" action="/UserCV/Delete" >

            <button type="submit" value="Create CV" spellcheck="false"> <img src="../Images/MyImages/button.jpg" /></button>
           </form>
        </td>
    </tr>
    
</table>
    